.historyRoot {
    padding: 30px 10px
}

.historyStatRoot {
    margin-bottom: 20px;
}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.statCard {
    width: 100%;
    margin: 0px 10px 0 0;
}

.statBody {
    font-size: 50px;
}

.units {
    font-size: 30px;
    color: grey;
}