@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

.FastRatioButtons {
    text-align: center;
    margin-right: 10px;
    padding: 5px;
}

.CustomRatio {
    padding: 5px;
    width: 250px;
}

.InfoStyle {
    color: black;
}

.SelectionAreaBox {
    height: fit-content;
  }

.buttonDisplay {
    text-align: center;
}

.Time{
  font-weight: normal;
}

.Instruction {
  text-align: center;
}
