@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');




.FastRatioButtons {
    flex: on;
    text-align: center;
    padding: 5px;
    margin:5px;
}

.CustomRatio {
    text-align: center;
    padding: 5px;
}

.InfoStyle {
    background-position: center;
    color: black;
    margin-top: 20px;
    position: relative;
}

.SelectionAreaBox {
    height: fit-content;
  }

.buttonDisplay {
    text-align: center;
}

.Time{
  font-weight: normal;
}

.Instruction {
  text-align: center;
}

.Submit {
  display:flex;
  flex: on;
  text-align: center;
}

.Sanic {
  display:flex;
  justify-content:center;
  margin-left: 150px;
}

.Link {
  color: blue;
}